.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 375px;
  left: 10px;
}

.baloon {
}

.speach {
  font-size: 25px;
  position: absolute;
  top: 230px;
  left: 230px
}

.bowser {
  width: 200px;
  position: absolute;
  left: 520px;
  top: 220px
}
