.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
  position: absolute;
  top: 375px;
  left: 10px;
}

.baloon {
    position: absolute;
    z-index: 1;
    left: 240px;
    top: 100px
}

.speach {
  font-size: 25px;
  position: absolute;
  top: 140px;
  left: 260px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 520px;
  top: 220px;
}