body {
    font-size: 16px;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
}

ul {
    background-color: grey;
    font-style: italic;
    line-height: 20px;
    text-decoration: overline;
}

.list-paragraph-style {
    background-color: purple;
}

p {
    font-weight: 600;
    font-size: 3em;
}

#element1 {
    background-color: yellow;
}

#element2 {
    background-color: red;
}

#element3 {
    background-color: brown;
}